@import "../../styles/colors";
@import "../../styles/variables";

table {
  border-collapse: collapse;
  width: 100%;
}
th {
    background-color: $bg-color1;
    position: relative;
}

th {
  .header-col-name {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sort-icon {
    margin-left: .5rem;
    color: $dark-grey;
  }

  .sort-icon.disabled {
    opacity: .7;
  }
}

td,
th {
  border: 1px solid $border-color1;
  text-align: left;
  padding: .8rem;
}

tfoot th {
  background-color: $white;
}
