$primary-color: #333;
$secondary-color: #2C3639;
$white: #fff;
$creamy-white: #DCD7C9;
$dark-grey: #3F4E4F;
$grey: #eee;
$grey2: #aaa;
$light-brown: #A27B5C;
$red: #E83A14;
$green: #95CD41;
$blue: #90AACB;
$border-color1: #eee;
$bg-color1: #ecf6fb;
