@import "../styles/colors";


.categories-container {
    margin: 1rem;

    .none-found {
        margin: .6rem 0;
    }
}

.category-list {
    .category-list-item {
        border-bottom: 1px solid #ddd;
        margin: 0.6rem 0;
        border-radius: 4px;
        padding: 1rem 0;
        display: flex;
    }

    .name {
        font-size: 1rem;
        font-weight: 600;
        margin: 0.6rem 0;   
    }
                                    
    .total {
        font-size: 1rem;
        font-weight: 700;
        color: #e83a14;
        word-wrap: break-word;
        margin-left: auto;
    }
}
